<div class="container">

<h2 id="Transaccion">Que desea realizar?</h2>
<a href="/home/createTransaccionGasto" class="btn btn-link">Gasto</a>
<a href="/home/createTransaccionIngreso" class="btn btn-link">Ingreso</a>
</div>